# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/target
/.idea
*/.idea
*.iml
*/*.iml
*.ipr
*/*.ipr
*.iws
*/*.iws
.idea
*/*.log
*/target/
*.DS_Store
*.classpath
*.settings
*.project
*/*.iml
*/.factorypath
/logs
*/logs/
*/package-lock.json
